body {
    background-color: #a7dbe3;
    color: white;
    font-size: 21px;

    font-family: Futura, calibri,Arial, sans-serif; /*font stack*/
    text-align: center;
}



h1{
    font-size: 70px;
    color: #3747b3;
    font-family:"sans-serif";

    margin-bottom:0px;
}

p {
    margin-top:0px;
    color: red;
    line-height:1.25;
    font-style: italic;
    font-weight: bold;
    text-align:center;
    
}

.lineThrough {
    text-decoration: line-through;
    text-transform: uppercase;
}

a:link {
    color:black;
    text-decoration:none;
}

a:visited{
    color: purple;
}

a:hover, a:focus {
    color:green;
}



a:active {
    color: white;
}

.text {
    background-color: yellow;
}

.text p{
    color:blue;
}

ul {
    color: red;
    list-style-type: circle;
    /*list-style-image: url(../img/arrow.png)*/
    background-color:aqua;
    padding:50px;
    margin:50px 0px;
    list-style-position:inside;
}

ul li {
    background:lightblue;
    margin-bottom: 10px;
}

img {
    width:50%;
    height:auto;
    float: left;
    margin-right: 20px;
}

.container {
    background-color:aquamarine;
    width:600px;
    margin:0 auto;
    width:70%;
    max-width: 1000px;
    /*this can be written as margin-left: auto;
    margin-right: auto;*/
}

/*
.box{
    
    background-image:url(../img/cutepig.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:500px;
    height: 500px;
    padding: 30px;
    margin: 100px;
    /*
    border: 30px groove brown;
    /*
    padding: 50px 100px 300px 25px;
    /* top right bottom left 

    padding: 100px 25px;
    /*top and bottom, left and right

}
*/